* {
    box-sizing: border-box;
}
nav {
    height: 8vh;
    background: rgba(18, 24, 41, 0.8);
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    outline: none;
    text-decoration: none;
    color: #A8AEBF;
    padding: 2px 1px 0;
  }



.navbar-brand {
    margin-left: 125.6px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav-text {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 152px;
}
.nav-item {
    margin-top: 5px;
    list-style-type: none;
    margin-right: 10px;
    width: 100px;
    color: #A8AEBF;
}

.main {
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    gap: 15px;
}

.search-bar {
    margin-top: 90px;
    height: 8%;
    width:  25%;
    margin-left: 120px;
    border:  rgba(0, 0, 0, 0.1);
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;;
    display: flex;
    align-items: center;
    color: #A8AEBF;
}

.categories {
    height: 8%;
    width: 32%;
    margin: 80px 0 0 120px;
    padding: 0 0 0 8px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(80px);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    line-height: 24px;
    font-size: 20px;
}

.category1 {
    height: 70%;
    width: 33%;
    background: #7B6EF6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category2, .category3 {
    text-align: center;
    width: 33%;
    color: #8E95A9;
}

.all-text {
    width: 20%;
    margin-top: 24px;
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    color: #767E94
}
input {
    font-size: small;
    height: 70%;
    width: 90%;
    background: transparent;
    border: none;
    outline: none;
    color: #A8AEBF;   
}

input::placeholder {
    color: #475069;   
  }


h1 {
    font-style: normal;
    font-size: 64px;
    font-weight: 600;
    
}

h4 {
    transform: translate(0,-80px);
    color: #A8AEBF;
}


h3 {
    color: #A8AEBF;
    font-size: 32px;
}