<section class="main poppins">
    <h1>PelisUP!</h1>
    <h4>Plataforma para ver películas y series 😉</h4>
</section>
<section class="search-bar">
  <img src="../assets/img/search-icon.png" width="30" height="30" style="margin-left: 10px ;" alt="">
  <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChangel) ="Search()"  placeholder="Buscar películas y series">
</section>
<section class="categories poppins">
  <button [ngClass]="filter == 'Todos' ? 'category1' : 'category2'" (click)="clickTodos()">Todos</button>
  <button [ngClass]="filter == 'Pelicula' ? 'category1' : 'category2'" (click)="clickPeliculas()">Películas</button>
  <button [ngClass]="filter == 'Serie' ? 'category1' : 'category2'" (click)="clickSeries()">Series</button>
</section>
<div class="all-text poppins">
<h3>Todos </h3>
<p>({{movies_series.length}})</p>
</div>
<section class="card-container poppins">
  <ng-container  *ngFor="let MoviesSeries of movies_series | filter:name">
  <div *ngIf="filter == 'Todos' ; else FilterCategories"  class="card">
    <img src="{{MoviesSeries.image}}" class="card-img" alt="card-image">
    <p class="title">{{MoviesSeries.name}}</p>
    <div class="rating">&#9734;{{MoviesSeries.rating}} </div>
</div>
<ng-template #FilterCategories>
  <div *ngIf="filter == MoviesSeries.category" class="card">
  <img src="{{MoviesSeries.image}}" class="card-img" alt="card-image">
  <p class="title">{{MoviesSeries.name}}</p>
  <div class="rating">&#9734;{{MoviesSeries.rating}} </div>
 </div>
</ng-template>
</ng-container>
  </section>